<html>
	<head>
		{{> headincludes}}

		<title>	IEEE Hackathon 2013 - Info</title>
	</head>

	<body>
		{{> navbar}}

		<div class="container">
			<div class="row">
				<h2>Hackathon Info</h2>
			</div>
			
			<hr class="separator">

			<div class="row">
				<div class="span4">
					<h2>Twitter</h2>
					Important Hackathon related announcements, such as submission information, and food distribution, will be released on our Twitter account. Make sure to follow us for up-to-the-minute announcements!
					<a href="https://twitter.com/IEEEHackathonUI" class="twitter-follow-button" data-show-count="false">Follow @IEEEHackathonUI</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>

				<div class="span4">
					<h2>Deadline</h2>
					The hackathon ends at Sat, Sept. 7, 2013 at 07:00:00 PM CDT. All projects must be registered before the end of submissions. Names will be called in random order, and if you fail to show up when your name is called, you will be dropped from the list of presenters.
				</div>

				<div class="span4">
					<h2>Submission</h2>
					The hackathon ends at Sat, Sept. 7, 2013 at 07:00:00 PM CDT. All projects must be registered before the end of submissions. Names will be called in random order, and if you fail to show up when your name is called, you will be dropped from the list of presenters.
				</div>
			</div>



			<hr class="separator">

			<div class="row">
				<div class="span12">
					<h2 class="center">Project Templates</h2>
					<center>Are you interested on working with project templates? We've created a basic tutorial site in both Ruby and NodeJS/Javascript for basic hacking.</center>
					<div class="span5">
						<h3>Ruby and Sinatra Website Template</h3>
						A sample project written in Ruby on the Sinatra web framework. Frontend uses Bootstrap 2.3.1. Identical to the NodeJS project.
						<br />
						<iframe src="http://ghbtns.com/github-btn.html?user=koshroy&repo=IEEE-Hackathon-Template-Sinatra&type=fork"
				allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
					</div>

					<div class="span6">
						<h3>Javascript, NodeJS, and Express Website Template</h3>
						A sample project written in the Javascript on the Express web framework built atop NodeJS. Frontend uses Bootstrap 2.3.1. Identical to the NodeJS project.
						<br />
						<iframe src="http://ghbtns.com/github-btn.html?user=koshroy&repo=IEEE-Hackathon-Template-NodeJS&type=fork"
				allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
					</div>


				</div>
			</div>
		</div>

		{{> footincludes}}
	</body>
</html>