<html>
<head>
	{{> headincludes}}

	<title>IEEE Hackathon 2013</title>
</head>

<body>
	{{> navbar}}

	<div class="container">
		<div class="jumbotron">
			<h1>IEEE 2013 Hackathon</h1>
			<center><h1 class="clock" id="time_elem">00:00:00</h1></center>
		</div>

		<hr class="separator">

		<div class="row">
			<div class="span4">
				<center><h3>Create</h3></center>
				Build like you mean it! Your creativity is your only barrier
			</div>
			<div class="span4">
				<center><h3>Mingle</h3></center>
				Meet new people interested in the technology that you like. Find your next co-founder!
			</div>
			<div class="span4">
				<center><h3>Enjoy</h3></center>
				Indulge yourself in free food and drinks, and watch your fellow students burn the midnight oil on winning ideas.
			</div>
	</div>

	<hr class="separator">

	<div class="row">
		<div class="span6 center">
			<button type="submit" class="btn btn-primary">Register Your Team</button>
		</div>

		<div class="span1">
			<h4>or</h3>
		</div>

		<div class="span5 center">
			<button type="submit" class="btn btn-primary">See Other Submissions</button>
		</div>

	</div>

	</div>


	{{> footincludes}}
	<script src="/static/js/hackathon.js"></script>
</body>

</html>